@model Pedido

<h3>Você esta a um passo de completar o seu pedido</h3>
<hr />
<script>
    function cep(valor) {
        var cep = valor.replace(/\D/g, '');

        if (cep.length !== 8) {
            alert("Cep Inválido");
            
            document.getElementById('Endereco1').value = "";
            document.getElementById('Endereco1').readOnly = false; 

            document.getElementById('Cidade').value = "";
            document.getElementById('Cidade').readOnly = false;

            document.getElementById('Estado').value = "";
            document.getElementById('Estado').readOnly = false;

            document.getElementById('Cep').value = "";
            return;
        }

        fetch('https://viacep.com.br/ws/' + cep + '/json/')
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                
                if (!data.erro) {                 
                  
                    document.getElementById('Endereco1').value = data.logradouro;
                    document.getElementById('Cidade').value = data.localidade;
                    document.getElementById('Estado').value = data.uf;
                    document.getElementById('Cep').value = data.cep;
                    
                    if (data.logradouro != "") {
                        document.getElementById('Endereco1').readOnly = true;
                    }else{
                        document.getElementById('Endereco1').readOnly = false;
                    }
                    
                    if (data.localidade != "") {
                        document.getElementById('Cidade').readOnly = true;
                    }else{
                        document.getElementById('Cidade').readOnly = false;
                    }   

                    if (data.uf != "") {
                        document.getElementById('Estado').readOnly = true;
                    }else{
                        document.getElementById('Estado').readOnly = false;
                    }


                } else {
                    alert('CEP não encontrado.');
                    document.getElementById('Endereco1').value = "";
                    document.getElementById('Endereco1').readOnly = false;

                    document.getElementById('Cidade').value = "";
                    document.getElementById('Cidade').readOnly = false;

                    document.getElementById('Estado').value = "";
                    document.getElementById('Estado').readOnly = false;

                    document.getElementById('Cep').value = "";
                }
            })
            .catch(function (error) {
                console.log('Erro ao buscar o CEP:', error);
            });
    }

</script>

<form asp-action="Checkout" method="post" class="form-horizontal" role="form" onkeydown="return event.key != 'Enter';">
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Sobrenome" class="control-label"></label>
            <input asp-for="Sobrenome" class="form-control" />
            <span asp-validation-for="Sobrenome" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Cep" class="control-label"></label>
            <input asp-for="Cep" class="form-control" onblur="cep(this.value)" />
            <span asp-validation-for="Cep" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Cidade" class="control-label"></label>
            <input asp-for="Cidade" class="form-control" />
            <span asp-validation-for="Cidade" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Estado" class="control-label"></label>
            <input asp-for="Estado" class="form-control" />
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Endereco1" class="control-label"></label>
            <input asp-for="Endereco1" class="form-control" />
            <span asp-validation-for="Endereco1" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Endereco2" class="control-label"></label>
            <input asp-for="Endereco2" class="form-control" />
            <span asp-validation-for="Endereco2" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Telefone" class="control-label"></label>
            <input asp-for="Telefone" class="form-control" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group col-md-3">
            <input class="btn btn-success" type="submit" value="Concluir Pedido" />
        </div>
        &nbsp;
        <div class="form-group col-md-3">
            <a class="btn btn-outline-info" asp-controller="CarrinhoCompra" asp-action="Index">Retornar ao Carrinho</a>
        </div>
    </div>
</form>
