<!--
    <br />
<img src="~/images/adminarea.jpg" alt="Área de Administração" class="marginTop1" />

<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é a area do Administrador</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>-->

<div class="container">
    <div class="text-center">
        <img src="~/images/adminarea.jpg" alt="Área de Administração" class="img-fluid mx-auto d-block marginTop1" />
    </div>
    <div class="jumbotron text-center">
        <h4 class="display-4">Esta é a área do Administrador</h4>
        <p class="lead">Bem-vindo à área de administração. Aqui você pode gerenciar diversos aspectos do seu site.</p>
       
        <p>Explore as opções disponíveis para realizar tarefas administrativas.</p>
        <a class="btn btn-outline-info" asp-area="" asp-controller="Home" asp-action="Index" role="button">Voltar à Home Page</a>
    </div>
</div>
