@model HomeViewModel

<partial name="_Carousel"/>

<h2> Os preferidos da Semana</h2>
<h4> Ta com Fome</h4>

<div class="row">
    @foreach(var lanche in Model.LanchesPreferidos){
        <partial name="_LanchesResumo" for="@lanche"></partial>
    }
</div>